@import "tailwindcss";

.box-inner {
box-shadow: 16px 17px 29px -12px rgba(0,0,0,1) inset;
-webkit-box-shadow: 16px 17px 29px -12px rgba(0,0,0,1) inset;
-moz-box-shadow: 16px 17px 29px -12px rgba(0,0,0,1) inset;

} 